@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
#ListManager{
    color: white;
    background: url(https://pa1.narvii.com/6481/104bf9eb8b5327041b28ab37f5f6c6a4de863d3a_hq.gif) no-repeat;
    
    background-position: right;
    border-color: #4d96db;
    border-style:solid;
    height: 7rem;
    border-radius: 25px;
    h1{
        margin-left: 30px;
        font-family: 'Sansita', sans-serif;
    }
}

.todoFormDiv{
  
    
    .todoForm{
        background: hsla(180, 100%, 52%, 0.622);
        border-color: black;
        border-style: solid;
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 15%;
        .label{
            margin-left: 50px;
        
        }
        
    }
}
.completedClass{
    margin-left: 15%;
    .completed{
        display: flex;
        width: 80%;
        justify-content: space-evenly;
    }
}
.alertContainer{
    margin-left: 15%;
    .addedItem{
        display: flex;
        width: 80%;
        justify-content: space-evenly;
       
    }
}
#TodoHeading{
    font-family: 'Sansita', sans-serif; 
}
.paginationTemptation{
    display: flex;
    justify-content: center;
}