.footerContainer{
    background-color:rgb(210, 225, 221, 0.2);
    display: block;
    justify-content: center;
    align-items: center;
    h1{
        align-items: center;
        justify-content: center;
        display: flex;
    }
    P{
        display: flex;
        justify-content: center;
    }

}